$primeryColor: pink;
$seconderyColor: rgb(241,133,151);
body{
    background-color: $primeryColor;
    
}
*{
    font-family: Arial, Helvetica, sans-serif;
}
header {
    display: flex;
    background-color: rgb(241, 133, 151);
    justify-content: space-between;
  }
  
  h1 {
    color: rgb(255, 255, 255);
    font-size: 400%;
  }
  
  #logo {
    padding: 20px;
    width: 10%;
    height: 200px;
  }
  
  #logIn {
    margin-top: 100px;
    height: 50vh;
  }