@import "./general";
main{
    display: flex;
    justify-content: space-between;
}
img{
    border-radius: 5%;
    border: 15px solid $seconderyColor;
    width:600px;
    height: 900px;
}
figcaption{
    font-size: 50px;
    border: 4px solid  $seconderyColor;
    background-color: rgb(245, 230, 232);
    text-align: center;
}
