@import "./general";

body {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    text-align: center;
}

form {
    width: 30%;
    background-color: whitesmoke;
    font-size: 400%;
    text-align: center;
    padding: 70px;
    padding-top: 0;

    #signUp {
        font-size: 50px;
        margin-bottom: 20px;
    }

    input {
        font-size: 0.9em;
        width: 90%;
    }

    p {
        font-size: 0.5em;
    }

    button {
        margin-top: 10px;
        height: fit-content;
        font-size: 30px;
        background-color: $primeryColor;
        border-color: $seconderyColor;
    }
}