@import "./general";
body{
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    text-align: center;
    
}
main{
    font-size: 2em;
    width: 30%;
    
    background-color: whitesmoke;
    padding: 70px;
    form{ 
        div{
            margin-bottom: 20px;
            input{
                font-size:0.9em;
                width: 90%; 
            } 
        }
    }
    a{
        font-size: 0.5em;
    }
    button{
        margin-top: 10px;
        height:fit-content;
        font-size: 25px;
        background-color: $primeryColor;
        border-color: $seconderyColor;
    }
   
}
em{
    font-size: 0.5em;
}